---
name: CI

"on":
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7

      - name: Run pytest
        id: pytest
        run: |
          uv venv --clear
          uv pip install -e .[test]
          echo "ACTIONS_STEP_DEBUG is ${{ runner.debug }}"
          if [ "${{ runner.debug }}" = "1" ]; then
              uv run pytest --capture=no -vv
          else
              uv run pytest
          fi
        continue-on-error: true

      - name: Black formatter
        id: black
        uses: psf/black@stable
        continue-on-error: true

      - name: Final check
        run: |
          ERROR=0
          if [ "${{ steps.pytest.outcome }}" != "success" ]; then
            echo "::error::Tests failed, see 'Run pytest' step for the details." && ERROR=1
          fi
          if [ "${{ steps.black.outcome }}" != "success" ]; then
            echo "::error::Black formatting check failed, see 'Black formatter' step for the details." && ERROR=1
          fi
          exit $ERROR
